.container
    .row
        .col-lg-4.col-lg-offset-4.text-center
            h1
                | Game Ranking
            hr
            h4
                | Our Ranking is under construction! We'll send you an Email when it's ready!
