.container
    .row
        .col-lg-4.col-lg-offset-4.text-center
            h1
                | Your rank is \#{{myRank}}
            hr
            table.table
                thead
                    tr
                        td(class='col-lg-1')
                            | Position
                        td Username
                        td(class='col-lg-1')
                            | Score
                tbody
                    tr(ng-repeat='user in rank')
                        td \#{{$index + 1}}
                        td {{user.username || "anonymous"}}
                        td {{user.score}}
