extends layout
block content
    nav(class="navbar navbar-default navbar-static-top", role="navigation")
        .container-fluid
            .navbar-header
                a(class="navbar-brand", href="/app") Stock Guess
            ul.nav.navbar-nav
                li
                    a(href="#_=_/me") My Guesses
                li
                    a(href="#_=_/ranking") Ranking
                li
                    a(href="#_=_/ranking", class="#{user.score > 0 ? 'positive' : 'negative'}") Score: #{user.score} pts
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="/logout") Logout
    if !hasUsername
        .alert.alert-warning.text-center.nav-alert(ng-hide='hideAlert')
            | You don't have a <strong>username</strong>. If you want your guesses to be identified please <a href="#_=_/username">create a username</a>
    if hasAgreed
        div(ng-view)
    else
        include ./partials/terms.jade
        br
        .row
            .col-lg-12
                .text-center
                    p You need to agree with our terms so you can start using Stock Guess
        .row
            .col-lg-12
                form(action='/api/guess/agree', method="POST")
                    button.btn.btn-block.btn-primary
                        | I Agree
