doctype html
html(ng-app='stock')
    head
        title Stock Guess
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/libs/bootstrap-social/bootstrap-social.css')
        link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
    body
        block content
        script(src='/libs/jquery/dist/jquery.min.js')

        script(src='/libs/datejs/build/date.js')

        script(src="http://code.highcharts.com/stock/highstock.js")
        script(src="http://code.highcharts.com/stock/modules/exporting.js")

        script(src='/libs/bootstrap/dist/js/bootstrap.min.js')

        script(src='/libs/angular/angular.js')
        script(src='/libs/angular-route/angular-route.js')

        script(src='/libs/underscore/underscore-min.js')

        script(src='/js/app.js')
        script(src='/js/services/stock.service.js')

        script(src='/js/controllers/me.controller.js')
        script(src='/js/controllers/index.controller.js')
        script(src='/js/controllers/terms.controller.js')
        script(src='/js/controllers/ranking.controller.js')
        script(src='/js/controllers/username.controller.js')
